{# SPDX-License-Identifier: 0BSD #}
<div class="featured-album">
  <img class="featured-album__cover" src="{{ featuredAlbum.cover }}" alt="{{featured-album__name}} cover art">
  <aside class="featured-album__details prose">
    <h3 class="featured-album__name">
      <cite>{{ featuredAlbum.name }}</cite>
    </h3>
      <p>
        by
        {% if featuredAlbum.artistURL %}
          <a href={{featuredAlbum.artistURL}} target="_blank">{{ featuredAlbum.artist }}</a>
        {% else %}
          {{ featuredAlbum.name}}
        {% endif %}
      </p>
    <p class="featured-album__writeup">{{ featuredAlbum.writeup | safe }}</p>
    <p class="featured-album__favorite-track">Favorite Track: "{{ featuredAlbum.favoriteTrack }}"</p>
  </aside>
</div>
