{# SPDX-License-Identifier: 0BSD #}
<nav class="site-navbar">
  <h2 class="camelcase-header site-navbar__header">site_directory</h2>
  <ul class="site-navbar__links">
    <li>
      <a href="/">home</a>
      <ul>
        <li><a href="#featured-album">featured_album</a></li>
        <li><a href="#about">about_me</a></li>
        <li><a href="#contact">contact_info</a></li>
        <li><a href="#favorites">favorite_things</a></li>
      </ul>
    </li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/scraps">scraps</a></li>
    <li><a href="/archive">archive</a></li>
    <li><a href="/mirrors">mirrors</a></li>
  </ul>
  <ul class="site-navbar__web-badges">
    <li>
      <a href="https://emulation.gametechwiki.com">
        <img src="/assets/images/badges/emulate-now.webp" alt="Emulate Now">
      </a>
    </li>
    <li>
      <a>
        <img src="/assets/images/badges/proudly-zero-javascript.webp" alt="Zero JavaScript">
      </a>
    </li>
    <li>
      <a>
        <img src="/assets/images/badges/best-viewed-with-a-computer.webp" alt="Best Viewed with a Computer">
      </a>
    </li>
    <li>
      <a>
        <img src="/assets/images/badges/ublock-origin-now.webp" alt="uBlock Origin Now">
      </a>
    </li>
  </ul>
</nav>
