{{/* SPDX-License-Identifier: 0BSD */}}

<header class="site-header">
  <a class="site-header__home-link" href="/" aria-label="zave's bytes home page">
    <pre class="site-header__ascii-art" aria-hidden="true">
#                            _          __          __           
#     ____  ____ __   _____ ( )_____   / /_  __  __/ /____  _____
#    /_  / / __ `/ | / / _ \|// ___/  / __ \/ / / / __/ _ \/ ___/
#     / /_/ /_/ /| |/ /  __/ (__  )  / /_/ / /_/ / /_/  __(__  ) 
#    /___/\__,_/ |___/\___/ /____/  /_.___/\__, /\__/\___/____/  
#                                         /____/</pre>
  </a>
</header>
