{# SPDX-License-Identifier: 0BSD #}
<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/css/layout.css">
  <link rel="stylesheet" href="/assets/css/common.css">

  {% if stylesheets %}
    {% for stylesheet in stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
  {% endif %}
</head>
<body class="site-container">
  <header class="site-header">
    <a class="site-header__home-link" href="/" aria-label="zave's bytes home page">
      <!-- indentation here looks weird but that's because of the <pre> element
           which preserves leading and trailing whitespace -->
      <pre class="site-header__ascii-art" aria-hidden="true">
#                            _          __          __           
#     ____  ____ __   _____ ( )_____   / /_  __  __/ /____  _____
#    /_  / / __ `/ | / / _ \|// ___/  / __ \/ / / / __/ _ \/ ___/
#     / /_/ /_/ /| |/ /  __/ (__  )  / /_/ / /_/ / /_/  __(__  ) 
#    /___/\__,_/ |___/\___/ /____/  /_.___/\__, /\__/\___/____/  
#                                         /____/</pre>
    </a>
  </header>

  {% include "navbar.njk" %}

  <main class="site-content">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

</body>
</html>
