/* SPDX-License-Identifier: 0BSD */
@font-face {
  font-family: mononoki;
  src: url("../fonts/mononoki-Regular.woff2") format("woff2"),
       url("../fonts/mononoki-Regular.woff") format("woff");
}

:root {
  --font-monospace: mononoki;
  --font-serif: serif;
  --font-sans-serif: sans-serif;
}

body {
  font-family: var(--font-sans-serif);
  font-family: sans-serif;
}

/*
  Used for items I want hidden visually but still visible to tools like screen
  readers.
  see: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
*/
.visually-hidden {
  left: -100vw;
  position: absolute;
}

.camelcase-header {
  font-family: var(--font-monospace);
  font-family: monospace;
  font-size: 1.3rem;
}

.site-header {
  padding: 0 4px 0 4px;
}

.site-container {
  background: #000;
  gap: 1.5px;
}

.site-header__home-link {
  font-family: var(--font-monospace);
  font-family: monospace;
  text-decoration: none;    
  color: #bbb;
}

.site-navbar,
.site-content,
.site-footer {
  background: #fff;
}

.site-navbar {
  padding: 10px;
}

.site-navbar__header {
  margin: 0;
}

.site-navbar__links {
  padding: 0;
  margin: 0;
  font-family: var(--font-monospace);
  font-family: monospace;
  font-size: 1.2em;
}

.site-navbar__links ul {
  padding-left: 14px;
}

.site-navbar__links,
.site-navbar__links ul {
  list-style: "└ ";
}

.site-navbar__web-badges {
  list-style: none;
  padding: 0;
  margin: auto 0 0 0;
  gap: 1px;
}

.site-navbar__web-badges img {
  max-width: 81px;
  display: block;
}

.site-content {
  box-shadow: inset 1px 0px 6px #444;
  padding: 16px 40px 16px 40px;
}

.site-content article,
.prose {
  max-width: 80ch;
}

.site-footer {  
  display: flex;
  justify-content: center;
  padding: 2px;
}
