/* SPDX-License-Identifier: 0BSD */
html, body {
  margin: 0;
}

.site-container {
  width: 100%;
  height: 100dvh;

  display: grid;
  grid-template-areas:
    "site-header site-header"
    "site-navbar site-content"
    "site-footer site-footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

.site-header {
  grid-area: site-header;
}

.site-navbar {
  grid-area: site-navbar;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-navbar__web-badges {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.site-content {
  overflow: auto;
  grid-area: site-content;
}

.site-footer {
  grid-area: site-footer;
}
