/* SPDX-License-Identifier: 0BSD */

@import "./layout.css";
@import "./home.css";
@import "./blog.css";
@import "./components/featured-album.css";

@font-face {
  font-family: "mononoki";
  src: url("../fonts/mononoki-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("../fonts/IBMPlexSerif-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --default-prose-width: 50rem;
  --default-border-thickness: 1.5px;
  --default-font-monospace: mononoki;
  --default-font-serif: "IBM Plex Serif";
}

body {
  font-family: var(--default-font-serif), serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--default-font-monospace), monospace;
}

blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 3rem;
}

hr {
  border: none;
  border-top: 1.5px solid #000;
  box-shadow: 0 2px 5px #666;
  margin-left: 0;
  width: 100%;
}

/*
  solution credit of: 
  https://www.joshwcomeau.com/css/full-bleed/
*/
.prose {
  display: grid;
  grid-template-columns:
    minmax(0, var(--default-prose-width))
    1fr;
}

.prose > * {
  grid-column: 1;
}

.prose__full-bleed {
  grid-column: 1 / -1;
}

.prose a {
  overflow-wrap: break-word;
  word-break: break-word;
}

.visually-hidden {
  left: -1000vw;
  position: absolute;
}

.site-header {
  padding: 0 4px 0 4px;
}

.site-layout {
  background: #000;
  gap: var(--default-border-thickness);
}

.site-header__home-link {
  font-family: var(--default-font-monospace), monospace;
  text-decoration: none;    
  color: #bbb;
}

.site-content,
.site-footer,
.site-navbar {
  background: #fff;
}

.site-navbar {
  padding: 0 0 8px 0;
  font-family: var(--default-font-monospace), monospace;
}

.site-navbar__header {
  margin: 4px;
}

.site-navbar__links {
  padding: 8px;
  margin: 0;
}

.site-navbar__links,
.site-navbar__links ul {
  margin: 0;
  list-style-type: "└ ";
  list-style-position: inside;
}

.site-navbar__links ul {
  padding-left: 14px;
}

.site-navbar__divider {
  width: 100%;
  height: var(--default-border-thickness);
  background: #000;
}

.site-navbar__web-badges {
  list-style: none;
  padding: 0;
  margin: auto 0 0 0;
  gap: 2.5px;
}

.site-navbar__web-badges img {
  max-width: 88px;
  height: auto;
  display: block;
}

.site-content {
  box-shadow: inset 1px 0px 6px #666;
  padding: 16px 40px;
}

.site-footer {  
  display: flex;
  justify-content: center;
  padding: 2px;
}

@media (max-width: 650px) {
  .site-header__home-link {
    font-size: clamp(8px, 2vw, 14px);
  }
  
  .site-navbar {
    padding: 0
  }

  .site-navbar__links {
    list-style: none;
    font-size: 1.2rem;
    padding: 6px 10px;
    gap: 12px;
  }

  .site-content {
    padding: 16px 20px;  
  }
}
