---
layout: layouts/base.njk
title: zave's bytes ~/
---
<h1 class="visually-hidden">zave's bytes homepage</h1>
<h2>Contains 7.47647791266e-8% of the internet in every page!  Made with 100% all-organic* intelligence!</h2>

