/* SPDX-License-Identifier: BSD-3-Clause */

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  height: 100dvh;

  display: grid;
  grid-template-areas:
    "site-header site-header"
    "site-sidebar site-content"
    "site-footer site-footer";

  grid-template-columns: auto 1fr;
  grid-template-rows: auto minmax(0, 1fr) auto;
}

.site-header {
  grid-area: site-header;
  background-color: #ffffff;
  border-style: none none solid none;
}

.ascii-art-header {
  font-family: monospace;
  background-color: #000000;
  color: #a1a1a1;
  padding: 6px;
  margin: 0;
  text-decoration: none;
}

.camel-case-header { font-family: monospace; }

.slogan-wrapper {
  display: inline-block;
  font-family: serif;
  padding: 6px 6px 0px 6px;
  width: fit-content;
  
  & > * {
    margin: 0px;
  }

  & .slogan-disclaimer {
    width: 100%;
    display: inline-block;
    text-align: right;
  }  
}

.site-sidebar {
  grid-area: site-sidebar;
  align-self: stretch;

  border-width: 2px;
  border-style: none solid none none;
  min-height: 0;
  overflow-y: auto;
  padding: 6px;
  /* box-shadow: 1px 0 6px -2px #222; */

  display: flex;
  flex-direction: column;
  align-items: center;

  .camel-case-header {
     margin: 0; 
  }

  & > .site-directory {    
    font-family: monospace;

    & ul { list-style-type: '└ '}
  
    & > ul {
      margin: 0;
      padding-left: 0px;    
      & ul { padding-left: 16px; } 
    }
  }

  & > .badges {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5px;
    margin-top: auto;

    img {
      display: block;
    }
  }
}



  hr {
    width: 100%;
    border-right-width: 0px;
    border-left-width: 0px;
  }

.site-content {
  grid-area: site-content;

  display: flex;
  flex-direction: column;
  justify-content: start;

  overflow: auto;
  padding: 0px 12px 0px 12px;
  min-height: 0;
  min-width: 0;
  box-shadow: inset 1px 0 6px #444;

  & > section { width: 100%; }
}

.section-body {
  padding-left: 16px;

 & > *:not(.featured-album) { max-width: 80ch }; 

}

.featured-album {
  display: flex;
  align-items: stretch;
  gap: 8px;

  & .featured-album-cover {
    align-self: flex-start;
    width: 200px;
    max-width: 250px;
    height: auto;
    object-fit: cover;
    box-shadow: 1px 1px 6px #222;
  }

  & .featured-album-details {  
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    max-width: 80ch;

    & > * { margin: 0; }
    
    & .featured-album-writeup {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.song-quote {
  font-style: italic;
  line-height: 0.5;
  width: fit-content;
  

  & > blockquote {
    font-family: serif;
    padding: 2px;
    margin: 0;

    & * {
      margin: 12px;
    }
  }

  & > p {
    margin: 8px 0px 8px 24px;
  }
}

.site-footer {
  grid-area: site-footer;
  text-align: center;
  border-width: 2px;
  border-style: solid none none none;
  grid-column: 1 / -1;
  min-height: 0;
}
